@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    background-color: #F2F2F2  ;
  }


.header{
    padding: 52px 80px; 
    margin-bottom: 0;
    background: rgb(82,63,56);
background: linear-gradient(90deg, rgba(82,63,56,1) 24%, rgba(30,168,150,1) 54%, rgba(255,113,91,1) 83%);

    }

.header h1{
    color: #F2F2F2;
    font-size: 70px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    
}


.header a{
  text-decoration: none;
}

.dark-div a{
  text-decoration: none;
}

.header button{
  margin: 0px auto;
  background-color: #4C5454;
  border-radius: 50px;
  color: #f2f2f2;;
  font-size: 25px;
  height: 75px;
  width: 200px;
  display: block;
  margin: 20px auto;
  border: 0px;
}

.logo{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brand{
  color: #F2F2F2;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 40px;
  display:inline-block;
  text-decoration: none;
  padding: 10px 5px;
  margin-right: 10px;
  margin-left: 20px
    
}

.nav-links{
  display: flex;
  list-style: none;
}

.navbar-logo{
  height: 75px;
  width: 75px;
}

table{
  margin-left: 20px;
}

.light-div{
  background-color:#F2F2F2;
  margin-top: 40px;
}

.light-div h1{
  color: #523F38;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.light-div p{
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0px 40px;
}

.rule{
  width: 9rem;
  height: .1rem;
  margin: 3rem auto;
  background-color: #523F38;;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
.container {
  width: 85%;
  padding: 0;
}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
.container {
  width: 80%;
}
}

.three.columns {
  width: 22%;
  margin: 0 0px 0 20px;
}

.three.columns h4{
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.three.columns p{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
    color: #523F38;
    line-height: normal;
}

.three.columns img{
    width: 100%;
    height: auto;
    border-radius: 300px;
    color: #523F38;
}

i {
  text-align: center;
  display:inline-block;
  font-size: 20px;
  margin: 0;
  color: #523F38;
}

.dark-div{
  background-color: #4C5454;;
  margin-top: 100px;
  padding: 50px 0px;
  color: #F2F2F2;
}

.dark-div h1{
    color: #f2f2f2;
    font-size: 80px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dark-div i{
    color: #F2F2F2;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.dark-div p{
    text-align: center;
}



.huge{
    font-size: 200px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4C5454;
    text-align: center; 
}

.footer-txt{
    text-align: center;
    font-size: 20px;
    color: #F2F2F2;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer{
  position: fixed;
  bottom : 0;
  z-index:1;
  background-color: #363c3c;
  width: 100%;
}

.footer-icon{
  color: #F2F2F2;
  font-size:20px;
}

.services-div{
  margin-top: 500px;
}

.services-table{
  margin-left: auto;
  margin-right: auto;

  border-spacing: 30px;
}

.services-table td{
  padding: 15px 40px;
  font-size: 40px;   
  color: #F2F2F2; 
  border-radius: 60px;
}

.services-table i{
  color: #F2F2F2;
  font-size: 50px;
}

.pricing-table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 30px;
  color: #F2F2F2;
}

.pricing-table td{
  padding: 15px 0px;
  font-size: 60px;
  color: #F2F2F2; 
  border-radius: 60px;
  width: 900px;
}
.pricing-table i{
  color: #F2F2F2;
  font-size: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.pricing-icon{
  text-align: center;
}

.pricing-table li{
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin: 10px auto 10px auto;
  padding-right: 15px;
  list-style: none;
}

.btn-neu-brown {
  border-radius: 50px;
  background: #F2F2F2;
  color:#523F38;
  font-size: 30px;
  height: 100px;
  width: 200px;
  display: block;
  margin: 20px auto;
  border: 0px;
}

.bold{
  font-weight: bold; 
}

.btn-neu-blue  {
  border-radius: 50px;
  background: #F2F2F2;
  color:#1EA896;
  font-size: 30px;
  height: 100px;
  width: 200px;
  display: block;
  margin: 20px auto;
  border: 0px;
}
.btn-neu-red  {
  border-radius: 50px;
  background: #F2F2F2;
  color:#FF715B;
  font-size: 30px;
  height: 100px;
  width: 200px;
  display: block;
  margin: 20px auto;
  border: 0px;
}

.contact-div{
  background: rgb(82,63,56);
background: linear-gradient(90deg, rgba(82,63,56,1) 24%, rgba(30,168,150,1) 54%, rgba(255,113,91,1) 83%);
  padding: 100px;
  margin-bottom: 0px;
}


.contact-div h1{
  margin-top: 100px;
  font-size: 100px;
}

.contact-div p{
  color: #F2F2F2;
  font-size: 30px;  
}


.counter-div{
  margin:30px auto;
  display: flex;
  flex-direction: column;
}

.counter-div i{
  color: #F2F2F2;
  font-size: 120px;
  text-align: center;
  margin: 0px 40px;
}

.counter-div p{
  text-align: center;
}

.counter-div span{
  color:#F2F2F2;
  font-size: 30px;
}

.counters{
  display: flex;
  text-align: center;
}

.counter{
  font-size: 60px;
  color: #F2F2F2;
}

@media(max-width:580px){
  .counters{
    flex-direction: column;
  }
}

.one-1{
  background-color: #523F38;
}

.two-2{
  background-color: #1EA896;
}

.three-3{
  background-color: #FF715B;
}
